h3 > label {
    font-weight: 500;
    color:#1a0dab;
}

label {
    color:gray;
}
mat-panel-title h3{
color: rgba(102, 102, 102, 0.87);
}

mat-toolbar h1 {
margin-left:5px !important;
}