@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.mat-drawer-content div{
    padding-left: 10px;
}
.mat-drawer {
    
    outline: 1px solid #d9d9d9;
    
}
.elastic-form{
    width:100%;
}
app-sidenav { display: flex; }
.mat-drawer-container {
    height: 100%;
}    

.mat-toolbar h1 {
margin-left:10px !important;
}
.mat-toolbar {
    border-bottom: 1px solid #ccc;
}
.mat-icon {
    vertical-align: middle;
}
.breadcrumb-button {
    color: #001480;
    border-radius: 5px;
    line-height: 10px;
    margin-top: 2px;
    margin-left: 10px;
}
.mat-toolbar-single-row {
    height: 46px;
}
.mat-paginator{
    background: #fafafa;
}
.mat-toolbar {
    background: #3f51b5;
    border-bottom: 2px solid coral;
}